<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %> 
<body>
    <h1>¡Cerraste Sesión correctamente!</h1>
    <button><a href="/users/login">Ir a Login</a></button>
    <button><a href="/users/register">Ir a Registro</a></button>
</body>
</html>